 body {
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Lora', serif;
  background-color: #F7F6F2;
  color: #6C4A4A;
}

.navbar {
  /* background-color: #e3f2fd; */
  background-color: #DDBEBE;
  padding: 5% 10%;
}
.navbar-brand {
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'Mirza', serif;
  letter-spacing: 0.05em;
}

.brand-text {
  color: #6C4A4A;
  font-weight: bold;
}

#intro {
  text-align: center;
}
.box1 {
  border: 2px solid #F7F6F2;
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 1;
}

.box2 {
  border: 2px solid #C89595;
  background-color: #C89595;
  height: 200px;
  width: 200px;
  position: relative;
  left: 100px;
}

.about-me {
  position: relative;
  writing-mode: vertical-rl;
  left: 200px;
  font-size: 1.5rem;
  /* color: #393534; */
  color: #6C4A4A;
}

.container-fluid {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.name-intro {
  position: relative;
  bottom: 110px;
  right: 10px;
  text-align: center;
  font-family: 'Mirza', cursive;
  font-size: 36px;
  color: #6C4A4A;
}

.career-description, .career-description1 {
  position: relative;
  bottom: 100px;
  right: 10px;
  text-align: center;
  color: #6C4A4A;
}

/* Media Query */
@media only screen and (max-width: 1200px) {
  .table-border {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Media Query */
@media only screen and (max-width: 600px) {
  .career-description1 {
    position: relative;
    bottom: 100px;
    right: 10px;
    text-align: center;
    color: #6C4A4A;
    padding-top: 10px;
  }

  table, th, td, tr {
		display: block;
	}

  .table-border {
    border: 5px dotted #F7F6F2;
    margin-left: auto;
    margin-right: auto;
   
  }

  .work-table {
    border: none;
    overflow-x: auto;
    white-space: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  table {
    border: none;
  }

  #about-me-plus-skills {
    background-color: #F7F6F2;
    text-align: center;
    padding: 50px 12%;
  }
}


/*  Media Query */
@media only screen and (max-width: 320px){
  .career-description1 {
    position: relative;
    bottom: 100px;
    right: 10px;
    text-align: center;
    color: #6C4A4A;
    padding-top: 10px;
  }
/* 
  #work {
    padding-bottom: 50px;
    padding-top: 50px;
  } */
  
  .work-table {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border: none;
  }
  
  .table-border {
    border: none;
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
    
  }
  
  table, tr, td, th {
    padding: 5px 5px;
  }
  table {
    border-spacing: 5px;
  }

  #about-me-plus-skills {
    background-color: #F7F6F2;
    text-align: center;
    padding: 50px 12%;
  }
}





#intro {
  /* background-color: #e3f2fd; */
  background-color: #DDBEBE;
  padding-bottom: 50px;
}



hr {
  border: none;
}
#about-me-plus-skills {
  background-color: #F7F6F2;
  text-align: center;
  padding: 50px 12%;
}

.about-me-description {
  text-align: center;
  padding: 5% 10%;
  color: #6C4A4A;
}

.favorite-apps {
  padding-top: 30px;
  padding-bottom: 50px;
}

/* Projects Section */

#projects {
  background-color: #F7F6F2;
  color: #6C4A4A;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 60px;
}

.projects-title {
  text-align: center;
  padding-bottom: 20px;
}

.project-skills {
  padding-top: 10px;
  color: #678983;
}


.hundehutte, .yogi {
  height: 500px;
  width: 250px;
}

.figgy {
  height: 400px;
  width: 200px;
  padding: 10px 10px;
}

.hundehutte2 {
  height: 490px;
  width: 250px;
}

.app-images {
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.app-description {
  text-align: center;
  padding-top: 30px;
  padding-left: 75px;
  padding-right: 75px;
  line-height: 1.5;
  color: #6C4A4A;
}

.app-link {
  text-decoration: none;
  color: #6C4A4A;
  background-color: rgba(200, 149, 149, 0.3);

  padding: 0px 10px;
}

.github-link {
  text-decoration: underline;
  color: #6C4A4A;
}

.github-link:hover {
  color: #6C4A4A;
  opacity: 0.5;
}

.app-link:hover {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  opacity: 0.5;
}

/* Work Section */

#work {
  color: #6C4A4A;
  background-color: #C89595;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;

}

.work-title {
  padding-bottom: 20px;
}

.work-table {
  margin-left: auto;
  margin-right: auto;
}

.table-border {
  border: 5px dotted #F7F6F2;
  width: 75%;
  /* height: auto;     /*needs to adjust and be responsive*/
  /* width: auto; */ 
  padding: 30px 20px;
  /* margin-left: 270px;
  margin-right: 270px; */
  margin-left: auto;
  margin-right: auto;
}

table, tr, td, th {
  justify-content: center;
  border: 1px solid #6C4A4A;
  padding: 15px 10px;
}
table {
  border-spacing: 15px;
}

tr {
  text-align: center;

}

.resume {
  padding-top: 30px;
}

.resume-attachment {
  padding-top: 20px;
  text-decoration: underline;
  color: #6C4A4A;
}

.resume-attachment:hover {
  font-size: 18px;
  text-decoration: none;
  color: #393534;
  opacity: 0.5;
}


/* Contact Section */

#contact {
  color: #6C4A4A;
  background-color: #DDBEBE;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.contact-title {
  padding-bottom: 10px;
}

.social-media {
  padding-right: 20px;
  color: #6C4A4A;
}

.social-media:hover {
  color: #393534;
  opacity: 0.5;
}


/* Footer Section */

#footer {
  padding-top: 6% ;
  padding-bottom: 6%;
  /* background-color: #00000; */
  text-align: center;
}

.copyright {
  /* text-align: center; */
  color: #6C4A4A;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 10px;
}


